.bounty-letter

  h1.post-title {{ post.title }}
  
  .celtic-sep
    svg.glyph(width='503',
        height='281', 
        viewbox='0 0 503 281',
        xmlns:sketch='http://www.bohemiancoding.com/sketch/ns',
        xmlns='http://www.w3.org/2000/svg')
      path(fill='#fff', 
           d='M140.5 280.302l-140.031-138.74 139.866-141.513 220.956 218.439 78.938-77.254-79.063-79.014-60.506 60.102-31.008-31.217 91.608-90.998 141.542 141.455-141.667 138.645-220.439-217.929-78.04 78.957 77.875 77.159 57.626-56.979 30.936 31.287z')
  
  .post-owner.clearfix
    img.profile-image.pull-left(qb-no-drag, qb-profile-img = '{{ post.uuid }}')
    .post-greeting.lead(qb-greeting = '{{ post.postid }}')
  
  .post-body
    h2 Objective
    p {{ post.description }}
    h2 Conditions
    p Quest must be completed 
      span.accent {{ post.endDate | ago }}
      |  from now.
    h2 Tags
    div
      span.label.label-primary.label-lg(
        ng-repeat = 'tag in post.tags track by $index'
      ) {{ tag }}
    
  .celtic-sep
    svg.glyph(width='503',
        height='281', 
        viewbox='0 0 503 281',
        xmlns:sketch='http://www.bohemiancoding.com/sketch/ns',
        xmlns='http://www.w3.org/2000/svg')
      path(fill='#fff', 
           d='M140.5 280.302l-140.031-138.74 139.866-141.513 220.956 218.439 78.938-77.254-79.063-79.014-60.506 60.102-31.008-31.217 91.608-90.998 141.542 141.455-141.667 138.645-220.439-217.929-78.04 78.957 77.875 77.159 57.626-56.979 30.936 31.287z')
    
  button.btn.btn-lg.btn-block.btn-default(ng-show = 'ownedByMe()') Edit Quest
  button.btn.btn-lg.btn-block.btn-success(ng-hide = 'ownedByMe()') Accept this Quest! 
